* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

.full-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.search-icon {
  display: block;
  width: 80px;
  height: 80px
  text-align: center;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s linear;
}

.search-icon:hover {
  transform: scale(1.2);
}

.search-screen {
  position: fixed;
  width: 100%;
  transition: 0.3s linear;
}

.search-box {
  width: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  transition: opacity .3s linear;
  transition-delay: .5s;
}

.search-screen.active {
  position: fixed;
  background: #03a9f4;
  width: 100%;
  height: 100vh;
}

.search-screen.active .search-box {
  opacity: 1;
  width: 360px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#search-check {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: none;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  transform: rotate(45deg);
  opacity: 1;
  transition: .3s linear;
}

#search-txt {
  border: 0;
  width: 100%;
  height: 100%;
  background: none;
  padding: 0 30px;
  color: #fff;
  outline: none;
  padding-right: 50px;
}

#search-txt::placeholder {
  color: #fff;
}
